@charset "ISO-8859-1";
.ht{
    font-family: cursive;
}
.custom-1{
    height: 5px;
    position: fixed;
}
.custom-2{
	    height: 5px;
}
.bg-custom{
 background-color: rgb(7, 114, 107);
}
.bg-custom-2{
 background-color: #8ad2d5;
}
.text-custom{
    color: rgb(7, 114, 107);
}
.me-7{
    margin-right: 4rem;
}
.navbar .nav-item .nav-link{
    font-family: cursive;
    border-radius: 40%;
    transition: all 0.8s ease-in-out 0.1s;
}
.navbar .nav-item .nav-link:hover{
    transform: scale(1.1) ;
    background-color: white;
    color: black;
    border-radius: 45%;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
}
@media (min-width: 1000px){
    .me-6{
        width: 400px;
    }
}
@media (max-width: 700px){
    .me-6{
        width: 200px;
    }
}


